@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400;1,500&display=swap');

.banner{
	background-color:chocolate;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    padding-left: 9%;
    padding-top: 1%;
    color: white;
	left: 0px;
    right:0px;
	position: fixed;
	top: 0px;
	width: 100%;
    height: 35px;
    border-bottom: 50px;