@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400;1,500&display=swap');

.banner{
	background-color:rgb(152, 178, 183);
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    padding-left: 9%;
    padding-top: 1%;
    color: white;
	  left: 0px;
    right:0px;
	  position: fixed;
	  top: 0px;
	  width: 100%;
    height: 36px;
    
}

.banner a:link {
color: white;
text-decoration: none;
}

.banner a:visited {
  color: white;
  text-decoration: none;
  }


h1{
    color: rgb(152, 178, 183);
    margin-top: 50px;
    margin-bottom:0px;
    font-size: 100px;
    text-align: center;
    font-family: 'roboto Mono', monospace;
    
    font-style: italic;
    font-weight: bolder;
}

.gif{
  width: 100%;
}

.date{
  font-family: 'Roboto Mono', monospace;
  color: rgb(152, 178, 183);
  font-style: italic;
  font-size: medium;
  text-align: center;
}

.camera{
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: medium;
}
.filmtype{
  font-family: 'Roboto Mono', monospace;
  font-size: medium;

}

.place{
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 250px;
  color: rgb(152, 178, 183);
  font-size: medium;
}

p {text-align: center;
    background color: gray;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center
}
img {
  max-width: 500%
}
.image {
  flex-basis: 500%;
  margin-left:250px;
  height: 180%;
  width: 180%;
  padding-bottom: 50px;
}

.text {
  font-size: 15px;
  padding-left: 500px;
  padding-right: 300px;
  padding-bottom: 50px
}


  .filmtype{
    font-family: 'RobotoMono-Regular'

  }

  .nyc{
    padding-bottom: 90px;
  }

  .six{
    font-family: 'RobotoMono-Regular';
  }

  .btstext{
    font-family: 'RobotoMono-Regular';
    margin-top: 80px;
  }

  .row {
    display: flex;
    align-content: center;
    margin-top:70px;
    margin-bottom: 60px;
    width: 110%;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
    
  }

  .ig{
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 100px;
  }

  .bottombanner{
    background-color: rgb(152, 178, 183);
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    padding-left: 9%;
    padding-top: 1%;
    color: rgb(152, 178, 183);
	left: 0px;
    right:0px;
	position: fixed;
    bottom: 0px;
	width: 100%;
    height: 36px
  }

  @media (max-width: 900px) {
    body{
        width:100%;

        }  

      }
  @media (max-width: 1200px) {
    img {

        height: 100%;
        text-align: center;
        
        }  

      }
  @media (max-width: 400px) {
    h1{
    font-size: 100px;
    text-align: center;
    width: 400px;
    }

    .gif{
      width:19%;
    }

    .date{
      font-family: 'Roboto Mono', monospace;
      color: rgb(152, 178, 183);
      font-style: italic;
      font-size: medium;
      text-align: center;
      width: 400px;
    }
    
    .camera{
      font-family: 'Roboto Mono', monospace;
      text-align: center;
      font-size: medium;
      width: 400px;
    }

    .filmtype{
      font-family: 'Roboto Mono', monospace;
      font-size: medium;
      width: 400px;
    
    }
    
    .place{
      font-family: 'Roboto Mono', monospace;
      padding-bottom: 250px;
      color: rgb(152, 178, 183);
      font-size: medium;
      width: 400px;
    }

    .container {
      display: block;

    }
    .image {
      padding-bottom: 50px;
      margin-left: 0%;
      width: 400px;
    }
    
    .text {
      font-size: 15px;
      padding-bottom: 50px;
      width: 350px;
      padding-left: 0%;
    }
  }

